@import "variables"; //refer to "_variables.scss" file

.adminNavigation {
    margin-top: 3vh;
    margin-bottom: 7vh;
    width: 100%;
    text-align: right;
    a {
        text-decoration: none;
        color: $color_1;
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom: 0.1rem solid;
        margin-left: 0.8rem;
        transition: $transition_hover;
    }
    a:hover {
        color: $color_3;
    }
    .logout {
        border: none;
        font-size: 1.6rem;
    }

}

#loginAdmin {
    background-color: $color_1;
    .contentWrapper {
        min-height: 90vh;
    }
    header {
        margin-top: 10vh;
        margin-bottom: 7vh;
        .handle {
            max-width: 700px;
            h1 {
                color: $white;
            }
        }
    }
    .loginForm {
        .handle {
            max-width: 700px;
            .alertMsg {
                margin-bottom: 5vh;
                p {
                    font-weight: 900;
                    font-size: 1.4rem;
                    color: $color_3;
                    text-shadow: 0.05rem 0.05rem 0.05rem $black;
                }
            }
        }
        form {
            input:focus {
                border: 2px solid $color_3;
                outline: 0;
            }
            input[type="submit"]:focus {
                border: 0.1rem outset $color_4;
                outline: 0;
            }
            input[type="submit"]:hover {
                border: 0.1rem outset $color_2;
                outline: 0;
            }
            .error {
                .errorMsg {
                    p {
                        font-size: 1.2rem;
                        color: $white;
                        font-weight: bold;
                        text-shadow: 0.1rem 0.1rem 0px $color_4;
                    }
                }
            }

        }
        .notice {
            p {
                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 1.1rem;
                    font-weight: bold;
                    transition: $transition_hover;
                }
                a:hover {
                    color: $color_3;
                }
            }
        }
    }
}

#registerAdmin {
    background-color: $color_1;
    .contentWrapper {
        min-height: 90vh;
    }
    header {
        margin-top: 10vh;
        margin-bottom: 7vh;
        .handle {
            max-width: 800px;
            h1 {
                color: $white;
            }
        }
    }
    .registerForm {
        .handle {
            max-width: 800px;
            .alertMsg {
                margin-bottom: 5vh;
                p {
                    font-weight: 900;
                    font-size: 1.4rem;
                    color: $color_3;
                    text-shadow: 0.05rem 0.05rem 0.05rem $black;
                }
            }
        }
        form {
            input:focus {
                border: 2px solid $color_3;
                outline: 0;
            }
            input[type="submit"]:focus {
                border: 0.1rem outset $color_4;
                outline: 0;
            }
            input[type="submit"]:hover {
                border: 0.1rem outset $color_2;
                outline: 0;
            }
            .error {
                .errorMsg {
                    p {
                        font-size: 1.2rem;
                        color: $white;
                        font-weight: bold;
                        text-shadow: 0.1rem 0.1rem 0px $color_4;
                    }
                }
            }
        }
        .notice {
            p {
                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 1.1rem;
                    font-weight: bold;
                    transition: $transition_hover;
                }
                a:hover {
                    color: $color_3;
                }
            }
        }        
    }
}


table {
    border: 0.05rem solid $color_2;          
    .tableHeader {
        background-color: $color_2;
        border: 0.05rem solid $white; 
        padding: .5rem 1rem;
        vertical-align: middle;
        font-weight: bold;
        color: $white;
        font-size: 0.9rem;
    }
    .tableData {
        border: 0.05rem solid $color_2; 
        padding: .6rem 1rem;
        text-align: center;
        vertical-align: center;
        white-space: nowrap;
        font-size: 0.9rem;
    }
    .colored {
        color: $color_4;
    }
    .cutText {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 20rem;
        max-width: 0;
    }                
}

#dashboard {
    .contentWrapper {
        min-height: 90vh;
    }
    .pageTitle {
        margin-bottom: 5vh;
    }
    .handle {
        width: 95%;
        max-width: 5000px;
    }
    .reservationList {
        .searchForm {
                margin-bottom: 3vh;            
            .heading {
                margin-bottom: 3vh;
                h3 {
                    color: $color_1;
                }
            }
            form {
                .submit {
                    margin: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }
        .instruction {
            margin-bottom: 3vh;
            h3 {
                color: $color_1;
            }
        }
        .listTable {
            margin-bottom: 10vh;
        }
    }
    footer {
        .footerBar {
            background-color: $white;
            .handle {
                .goPageTop {
                    a {
                        color: $color_2;
                    }
                    a:hover {
                        color: $color_3;
                    }
                }
                .container {
                    .logo {
                        svg {
                            fill: $color_1;
                        }
                    }
                    .info {
                        color: $color_1;
                    }
                }
            }
        }
    }
}

#properties {
    .contentWrapper {
        min-height: 90vh;
    }
    .pageTitle {
        margin-bottom: 5vh;
    }
    .addButton {
        margin-bottom: 5vh;
    }
    .propertyList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10vh;
        .propertyCard {
            width: 49%;
            background-color: $white;
            box-shadow: 0.2rem 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.5);
            border-radius: 0.5rem;
            margin-bottom: 3vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .photoBox {
                width: 38%;
                .photo {
                    width: 100%;
                    height: 28vw;
                    border-radius: 0.5rem 0 0 0.5rem;
                    @media screen and (min-width: 1439px) {  
                        height: 19vw;
                    }   
                    @media screen and (min-width: 1681px) {  
                        height: 14vw;
                    }                    
                }
            }
            .textBox {
                width: 61%;
                padding: 2vh 2vw 2vh 2vw;
                h3 {
                    color: $color_2;
                    margin-bottom: 1vh;
                }
                .review {
                    margin-top: 1vh;
                    margin-bottom: 1vh;
                    display: flex;
                    flex-wrap: wrap;
                    .aveRating {
                        margin-right: 0.5rem;
                        font-weight: bold;
                        i {
                            color: $color_4;
                        }
                    }
                }
                .price {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 2vh;
                    p {
                        font-weight: bold;
                    }                        
                }
                .btn-4:focus { 
                    border: 0.1rem outset $color_3;
                }                
            }
        }
        .nodataMsg {
            text-align: center;
            margin-top: 4vh;
        }
    }
}

#detailsAdmin {
    .contentWrapper {
        min-height: 90vh;
    }
    .backButton {
        margin-bottom: 3vh;
    }
    .mainInfo {
        margin-bottom: 2vh;
        @media screen and (min-width: $width_pc) {  
            margin-bottom: 5vh;
        }
        .handle {
            .title {
                margin-bottom: 2vh;
                h1 {
                    margin-bottom: 2vh;
                }
                .container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .reviewScore {
                        color: $black;                        
                        i {
                            color: $color_4;
                        }
                        span {
                            font-weight: bold;
                        }
                    }
                }                
            }
            .photos {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .container {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-content: space-between;
                    .photoL {
                        border-radius: 0.3rem;
                        width: 100%;
                        height: 60vw;
                        margin-bottom: 1vw;
                    }
                    .photoS {
                        border-radius: 0.3rem;
                        width: 49.5%;
                        height: 32vw;
                        margin-bottom: 1vw;
                    }
                    @media only screen and (min-width: $width_mb) and (max-width: $width_pc) {  
                        .photoL {
                            height: 50vw;
                        } 
                        .photoS {
                            height: 28vw;
                        }
                    }  
                    @media screen and (min-width: $width_pc) {  
                        width: 49.5%;
                        .photoL {
                            height: 35vw;
                            margin-bottom: 0;
                        }
                        .photoS {
                            width: 49%;
                            height: 17vw;
                            margin-bottom: 0;
                        }
                    }                  
                }
            }
        }
    }
    .detailsContainer {
        margin-bottom: 10vh;
        .handle {
            .detailInfo {
                margin-bottom: 5vh;
                .facility {
                    margin-bottom: 3vh;
                    h3 {
                        color: $color_1;
                        margin-bottom: 1vh;                        
                    }
                    .facilityList {                        
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        p {
                            width: 30%;
                        }                    
                    }
                }
                .amenities {
                    margin-bottom: 3vh;
                    h3 {
                        color: $color_1;
                        margin-bottom: 1vh;
                    }
                    .amenityList {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        p {
                            width: 30%;
                        }
                        .unavailable {
                            color: silver;
                            text-decoration: line-through;
                        }
                    }
                }
                .description {
                    margin-bottom: 3vh;
                    h3 {
                        color: $color_1;
                        margin-bottom: 1vh;                        
                    }
                }
                .address {
                    h3 {
                        color: $color_1;
                        margin-bottom: 1vh;                        
                    }
                }
            }
        }
    }
}

#addProperty {
    .pageTitle {
        margin-bottom: 5vh;
    }
    .addPropertyForm {
        margin-bottom: 10vh;
        form {
            .alertMsg {
                margin-top: 3vh;
                p {
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: $color_4;
                }
            }
        }
    }
}

#propertyTypes {
    .contentWrapper {
        min-height: 90vh;
    }
    .pageTitle {
        margin-bottom: 5vh;
    }
    .addButton {
        margin-bottom: 3vh;
    } 
}

#addType {
    .contentWrapper {
        min-height: 90vh;
    }
    .pageTitle {
        margin-bottom: 5vh;
    }
    form {
        .submit {
            display: flex;
            align-items: flex-end;
        }
    }
}

